body{
  text-align: center;
  color: white;
  font-family: 'Josefin Slab', serif;
  text-shadow: 0px 0px 4px black, 200px 100px 50px 10px #5c07cc;
}
a {
  text-decoration: none;
  color: #d4f8ff;
}
a:hover{
  color: rgb(250, 245, 105);
}
button, .infoGroup{
  box-shadow: 200px 100px 50px 10px #5c07cc;
  font-family: 'Josefin Slab', serif;
  position: relative;
}
header{
  margin-top: 20px;
}
header h1{
  font-size: 4em;
  margin: 0;
  margin-bottom: -.4em;
}
header h2{
  font-size: 1.4em;
  padding-right: 2em;
}
div.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
div.row button{
  font-size: 30px;
  width: 159px;
  height: 98px;
  padding: 10px;
  border-radius: 20px;
  background: springgreen;
  border-color: forestgreen;
  margin: 10px;
}
div.row button:active{
  background-color: #66ff07;
}
div.infoGroup{
  margin: 10px;
  font-size: 30px;
  width: 155px;
  height: 94px;
  padding: 0px;
  border-radius: 20px;
  background-color: #40bbdf;
  border: solid 2px #399cff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div.label{
  font-size: 30px;
  margin: 10px;;
  padding: 0;
}
/* temp select */
.switchContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/* Hide default HTML checkbox */
.switch input {display:none;}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #58179f;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #1f84a2;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.tempLabel{
  font-weight: bold;
  padding: 0 10px 0 10px;
}
#weather{
  display: none;
}
#weather .symbol {
  font-size: 3em;
}
#temp{
  background-color: #7bbeff;
  border-color: #6eb0f4;
}
#iconTemp{
  background-color: #c2a3f8;
  border-color: #6eb0f4;
}
#wind{
  background-color: #ee96e4;
  border-color: #af94ff;
}
#iconWeather{
  background-color: #ffb59b;
  border-color: #f09b79;
}
canvas{
  position: fixed;
  z-index: -1;
  bottom: 15vh;
  right: 7vw;
  opacity: 0.1;
  height: 70vh;
}
#location{
  margin: 10px;
  display: none;
}
#map img{
  border-radius: 20px;
}
footer{
  font-family: 'Oxygen', sans-serif;
  margin: 20px;
}
.infoGroup{
  position: relative;
  z-index: 0;
}
#temp, #iconTemp{
  z-index: 2;
}
#wind, #iconWeather{
  z-index: 3;
}
footer{
  position: relative;
  z-index: 7;
}
/* Animations */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.5s;
  -moz-animation-duration:0.5s;
  animation-duration:0.5s;
}

@media only screen and (max-width: 420px){
  header h1{
    font-size: 3em;
    margin: 0;
    margin-bottom: -.3em;
  }
  header h2{
    font-size: 1.4em;
    padding: 0;
  }
}

/* basic message popup: https://www.w3schools.com/howto/howto_js_snackbar.asp */

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 10; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
